.sidebar {
  grid-area: sidebar;
  background-color: var(--bg-primary);
  border-right: 1px solid var(--border-color);
  display: flex;
  flex-direction: column;
  /* height: 100vh; */
  overflow-y: auto;
  padding: 16px 16px 0;
}

.sidebar-header {
  padding: var(--space-4) 0;
  margin-bottom: 10px;
}

.logo {
  font-size: var(--font-size-2xl);
  font-weight: 700;
  background: linear-gradient(
    90deg,
    #ffffff 0%,
    #d0f0ff 10%,
    #4facfe 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.sidebar-nav {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: var(--space-8);
}

.nav-section {
  display: flex;
  flex-direction: column;
  gap: var(--space-2);
}

.section-title {
  font-size: var(--font-size-xs);
  font-weight: 600;
  color: var(--text-muted);
  margin-bottom: var(--space-2);
  padding-left: var(--space-4);
  text-transform: uppercase;
  letter-spacing: 0.5px;
  padding-left: 0px;
  padding-top: 10px;
}

.nav-item {
  display: flex;
  align-items: center;
  gap: var(--space-3);
  padding: var(--space-3) var(--space-4);
  border-radius: var(--radius-md);
  color: var(--text-secondary);
  text-decoration: none;
  background: none;
  border: none;
  font-size: var(--font-size-base);
  font-weight: 500;
  cursor: pointer;
  transition: all var(--transition);
  width: 100%;
  text-align: left;
}

.nav-item:hover {
  color: var(--text-primary);
  background-color: var(--bg-hover);
}

.nav-item.active {
  color: var(--text-primary);
  background-color: var(--bg-surface);
}

.add-playlist {
  color: var(--text-muted);
}

.sidebar-footer {
  margin-top: auto;
  padding-top: var(--space-6);
  display: flex;
  flex-direction: column;
  gap: var(--space-2);
}

@media (max-width: 768px) {
  .sidebar {
    display: none;
  }
}